*{
    margin: 0;
    box-sizing: border-box;
}

html {
    --primary: #D19698;
    --secondary:#192E59;
    --tertiary: #8090A7;
    --quaternary: #BEA094;
    --accent: #F9ECE4;
    --text: #fff;
  
    --space-xxxs: 0.10rem;
    --space-xxs: 0.25rem;
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --space-xxl: 6rem;
    --space-xxxl: 15rem;
  }

body{
    background-color: var(--accent);
}

img{
    display: block;
    width: 100%;
    height: auto;
    gap: var(--space-xs);
}

/**************************************************** HEADER */

header {
    position: sticky;
    top: 0;
    padding: 1rem 1rem;
    background: var(--accent);
    z-index: 100;
}

header .logo img {
    margin-bottom: 0;
    margin-top: 0;
    border: none;
    width: 200px;
}

header .logo {
    display: flex;
    place-content: center;
    margin-bottom: var(--space-md);
}

header nav ul {
    display: flex;
    place-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: var(--space-xs);
    gap: var(--space-lg);
    overflow-x: auto;
}
/**************************************************** GENERELT */

main {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

section {
    grid-column: 2/3;
    margin-top: var(--space-lg);
    margin-bottom: var(--space-xl);
    margin-left: var(--space-sm);
    margin-right: var(--space-sm);
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: var(--space-lg);
    letter-spacing: var(--space-xs);
    color: var(--secondary);
    margin-top: var(--space-sm);
    margin-bottom: var(--space-xl);
}

.h1color {
    color:var(--primary);
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: var(--space-md);
    letter-spacing: var(--space-xs);
    color: var(--secondary);
    margin-bottom: var(--space-xl);
    margin-top: var(--space-xxl);
}

h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: var(--space-md);
    letter-spacing: var(--space-xs);
    color: var(--secondary);
    margin-bottom: var(--space-lg);
    margin-top: var(--space-lg);
}

p{
font-family: 'Oswald', sans-serif;
letter-spacing: var(--space-xxxs);
font-size: var(--space-sm);
font-weight: lighter;
color: var(--secondary);
margin-bottom: var(--space-lg);
}

p .bold {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}


a{
    font-family: 'Oswald', sans-serif;
    letter-spacing: var(--space-xxs);
    font-size: var(--space-sm);
    color: var(--secondary);
    text-decoration: none;
}

button {
    display: block;
    background-color: var(--accent);
    height: var(--space-xl);
    width: var(--space-xxxl);
    border: 2px solid var(--secondary);
    margin-top: var(--space-lg);
    grid-column: 1;
}

.link:hover {
    color:var(--accent);
}

/**************************************************** FOOTER*/

footer{
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    background-color: var(--secondary);
    place-content: center;
    height: var(--space-xxxl);
}

footer p{
    color: var(--primary);
    grid-row: 2/3;
}

/**************************************************** BREADCRUMBS */
/* Style the list */
ul.breadcrumb {
    grid-column: 1/4;
    padding: 10px 16px;
    list-style: none;
    background-color: var(--quaternary);
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-size: var(--space-sm);
    color: var(--secondary);
    text-decoration: none;
    font-weight: lighter;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: var(--accent);
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: var(--accent);
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: var(--secondary);
  }

/**************************************************** GENERELT INDEX*/


.cta{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.cta button{
    grid-column: 2/3;
}

/**************************************************** GENERELT TEMA 2*/

.tema_2 #section_wide {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}    

.tema_2 #section_wide .image{
    grid-area: 1/1;
    grid-row: 1/4;
} 

.tema_2 #section_wide .text{
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
}     

.tema_2 #section_wide_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
}    

.tema_2 #section_wide_grid .box_1 {
    grid-column: 1/2;
}  

.tema_2 #section_wide_grid .box_2 {
    grid-column: 2/3;
}  

.tema_2 #section_wide_grid .box_3 {
    grid-column: 3/4;
}  

.tema_2 #section_wide_grid .box_1 {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}  

.tema_2 #section_wide_grid .box_1 .image_1 {
    grid-area: 1/1;
    grid-row: 1/4;
}  

.tema_2 #section_wide_grid .box_1 .text_1 {
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
}  

.tema_2 #section_wide_grid .box_2 {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}  

.tema_2 #section_wide_grid .box_2 .image_2 {
    grid-area: 1/1;
    grid-row: 1/4;
}  

.tema_2 #section_wide_grid .box_2 .text_2 {
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
}  

.tema_2 #section_wide_grid .box_3 {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}  

.tema_2 #section_wide_grid .box_3 .image_3 {
    grid-area: 1/1;
    grid-row: 1/4;
}  

.tema_2 #section_wide_grid .box_3 .text_3 {
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
}  

/**************************************************** GENERELT TEMA 3*/

.tema_3 #section_wide_grid .box_3 .text_3 {
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
} 

.tema_3 #section_wide .text{
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
}    
.tema_3 #section_wide_grid .box_1 .text_1 {
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
}  
.tema_3 #section_wide_grid .box_2 .text_2 {
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
}  

/**************************************************** GENERELT TEMA 5*/

.tema_5 #section_wide {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}    

.tema_5 #section_wide .image{
    grid-area: 1/1;
    grid-row: 1/4;
} 

.tema_5 #section_wide .text{
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
}     

.tema_5 #section_wide_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
}    

.tema_5 #section_wide_grid .box_1 {
    grid-column: 1/2;
}  

.tema_5 #section_wide_grid .box_2 {
    grid-column: 2/3;
}  

.tema_5 #section_wide_grid .box_3 {
    grid-column: 3/4;
}  

.tema_5 #section_wide_grid .box_1 {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}  

.tema_5 #section_wide_grid .box_1 .image_1 {
    grid-area: 1/1;
    grid-row: 1/4;
}  

.tema_5 #section_wide_grid .box_1 .text_1 {
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
}  

.tema_5 #section_wide_grid .box_2 {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}  

.tema_5 #section_wide_grid .box_2 .image_2 {
    grid-area: 1/1;
    grid-row: 1/4;
}  

.tema_5 #section_wide_grid .box_2 .text_2 {
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
}  

.tema_5 #section_wide_grid .box_3 {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}  

.tema_5 #section_wide_grid .box_3 .image_3 {
    grid-area: 1/1;
    grid-row: 1/4;
}  

.tema_5 #section_wide_grid .box_3 .text_3 {
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
}  

/**************************************************** GENERELT KONTAKT*/

form label {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-size: 17px;
    font-weight: bold;
    color: var(--secondary);
    margin-bottom: var(--space-sm);
    margin-top: var(--space-lg);
  }
  
  .form_felt {
    display: grid;
  }

/**************************************************** FORSIDE DESKTOP */

@media (min-width: 1000px) {

/******************************************** HEADER */
header nav ul {
    place-content: flex-start;
}    

header .logo {
    place-content: end;
    margin-bottom: 0;
}

footer{
    margin-top: 0;
}

/******************************************** TEXTER */

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 4.2vw;
    letter-spacing: 5px;
    color: var(--secondary);
}

h2{
    font-size: 3vw;
}

p, .link{
    font-size: 1.5vw;
}

a:hover {
    color: var(--accent);
}

.index #section_wide:hover{
    background-color: var(--primary);
}

.cta{
    display: flex;
    place-content: center;
    gap: var(--space-xl);
}

button:hover {
    background-color: var(--secondary);
}

/******************************************** LAYOUT */

section{
    margin-bottom: var(--space-xxl);
    margin-top: var(--space-xxl);
    }

.section_one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.intro {
    grid-column: 1/4;
}

#section_wide{
grid-column: 1/4;
width: 100%;
background-position: center;
margin-left: 0;
margin-right: 0;
}

#section_wide_grid{
    grid-column: 1/4;
    width: 100%;
    background-position: center;
    margin-left: 0;
    margin-right: 0;
    }

.section_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.text_left{
    display: grid;
    grid-column: 1/2;
    text-align: right;
    padding: 20px;
    place-content: center;
}

.text_right{
    display: grid;
    grid-column: 3/4;
    text-align: left;
    padding: 20px;
    place-content: center;
}

.image_left{
    grid-column: 1/3 ;
}

.image_right{
    grid-column: 2/4 ;
}

/* LAYOUT TEMA 2 */

.tema_2 #section_wide:hover .text {
    visibility:visible;
    font-weight: bold;
    font-size: 300px;
    color: var(--secondary);
}

.tema_2 #section_wide_grid .box_1:hover .text_1 {
    visibility:visible;
    font-weight: bold;
    font-size: var(--space-xxl);
    color: var(--secondary);
}

.tema_2 #section_wide_grid .box_2:hover .text_2 {
    visibility:visible;
    font-weight: bold;
    font-size: var(--space-xxl);
    color: var(--secondary);
}

.tema_2 #section_wide_grid .box_3:hover .text_3 {
    visibility:visible;
    font-weight: bold;
    font-size: var(--space-xxl);
    color: var(--secondary);
}

/* LAYOUT TEMA 3 */

.tema_3 section {
    margin-bottom: var(--space-xxl);
}

.tema_3 #section_wide:hover .text {
    visibility:visible;
    font-weight: bold;
    font-size: 300px;
    color: var(--secondary);
}

.tema_3 #section_wide_grid .box_1:hover .text_1 {
    visibility:visible;
    font-weight: bold;
    font-size: var(--space-xxl);
    color: var(--secondary);
}

.tema_3 #section_wide_grid .box_2:hover .text_2 {
    visibility:visible;
    font-weight: bold;
    font-size: var(--space-xxl);
    color: var(--secondary);
}

.tema_3 #section_wide_grid .box_3:hover .text_3 {
    visibility:visible;
    font-weight: bold;
    font-size: var(--space-xxl);
    color: var(--secondary);
}

.tema_3 #section_wide {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}    

.tema_3 #section_wide .image{
    grid-area: 1/1;
    grid-row: 1/4;
} 

.tema_3 #section_wide_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
}    

.tema_3 #section_wide_grid .box_1 {
    grid-column: 1/2;
}  

.tema_3 #section_wide_grid .box_2 {
    grid-column: 2/3;
}  

.tema_3 #section_wide_grid .box_3 {
    grid-column: 3/4;
}  

.tema_3 #section_wide_grid .box_1 {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}  

.tema_3 #section_wide_grid .box_1 .image_1 {
    grid-area: 1/1;
    grid-row: 1/4;
}  

.tema_3 #section_wide_grid .box_2 {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}  

.tema_3 #section_wide_grid .box_2 .image_2 {
    grid-area: 1/1;
    grid-row: 1/4;
}  

.tema_3 #section_wide_grid .box_3 {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}  

.tema_3 #section_wide_grid .box_3 .image_3 {
    grid-area: 1/1;
    grid-row: 1/4;
}  

/**************************************************** GENERELT TEMA 4*/

.tema_4 section {
    grid-column: 2/3;
    margin-bottom: var(--space-xxl);
    margin-left: var(--space-md);
    margin-right: var(--space-md);
}

.tema_4 p{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    font-size: 17px;
    font-weight: lighter;
    color: var(--secondary);
    margin-bottom: var(--space-lg);
}

.tema_4 #section_wide {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}    

.tema_4 #section_wide .image{
    grid-area: 1/1;
    grid-row: 1/4;
} 

.tema_4 #section_wide .text{
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
}     

.tema_4 #section_wide_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
}    

.tema_4 #section_wide_grid .box_1 {
    grid-column: 1/2;
}  

.tema_4 #section_wide_grid .box_2 {
    grid-column: 2/3;
}  

.tema_4 #section_wide_grid .box_3 {
    grid-column: 3/4;
}  

.tema_4 #section_wide_grid .box_1 {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}  

.tema_4 #section_wide_grid .box_1 .image_1 {
    grid-area: 1/1;
    grid-row: 1/4;
}  

.tema_4 #section_wide_grid .box_1 .text_1 {
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
}  

.tema_4 #section_wide_grid .box_2 {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}  

.tema_4 #section_wide_grid .box_2 .image_2 {
    grid-area: 1/1;
    grid-row: 1/4;
}  

.tema_4 #section_wide_grid .box_2 .text_2 {
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
}  

.tema_4 #section_wide_grid .box_3 {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    margin: 0;
}  

.tema_4 #section_wide_grid .box_3 .image_3 {
    grid-area: 1/1;
    grid-row: 1/4;
}  

.tema_4 #section_wide_grid .box_3 .text_3 {
    grid-area: 2/1;
    text-align: center;
    visibility:hidden;
} 

/* LAYOUT TEMA 3 */

.tema_4 #section_wide:hover .text {
    visibility:visible;
    font-weight: bold;
    font-size: 200px;
    color: var(--secondary);
}

.tema_4 #section_wide_grid .box_1:hover .text_1 {
    visibility:visible;
    font-weight: bold;
    font-size: var(--space-xxl);
    color: var(--secondary);
}

.tema_4 #section_wide_grid .box_2:hover .text_2 {
    visibility:visible;
    font-weight: bold;
    font-size: var(--space-xxl);
    color: var(--secondary);
}

.tema_4 #section_wide_grid .box_3:hover .text_3 {
    visibility:visible;
    font-weight: bold;
    font-size: var(--space-xxl);
    color: var(--secondary);
}

/* LAYOUT TEMA 3 */

.tema_5 #section_wide:hover .text {
    visibility:visible;
    font-weight: bold;
    font-size: 300px;
    color: var(--secondary);
}

.tema_5 #section_wide_grid .box_1:hover .text_1 {
    visibility:visible;
    font-weight: bold;
    font-size: var(--space-xxl);
    color: var(--secondary);
}

.tema_5 #section_wide_grid .box_2:hover .text_2 {
    visibility:visible;
    font-weight: bold;
    font-size: var(--space-xxl);
    color: var(--secondary);
}

.tema_5 #section_wide_grid .box_3:hover .text_3 {
    visibility:visible;
    font-weight: bold;
    font-size: var(--space-xxl);
    color: var(--secondary);
}


/* LAYOUT PROFIL */

.profil .section_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xl);
}

.profil .image_left {
    grid-column: 1/2;
}

.profil .text_right{
    /* display: grid; */
    grid-column: 2/3;
    text-align: left;
    padding: 20px;
}

